*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
main
{
    width:100vw;
    height:100vh;
    background-color: purple;
}
section
{

    width:80%;
    min-width:400px;
    background:red;
    margin:0 auto;
}
/*
body
{
    font-size:20px;
}
.text-container
{
    font-size:1em;
}
.text-container div 
{
    font-size: 1.5em;
} */

/* html
{
    font-size:62.5%;
} */
/* p
{
    font-size:3rem;
}
main div 
{
    font-size:1.6rem;
} */