//- h1 titulo
//- p lorem ipsum
//- div
//-   span Boton
//- div
//- 	a Boton 2
//- En pug podemos ignorar los cierres de etiqueta, el h1 en html seria <h1></h1> y es exactamente lo mismo, y todas las etiquetas igual.
//- Para colocar un elemento dentro de un contendor se debe identar, con tab o espacio, es MUY delicado, solo se puede doble espacio o un tab, pero no puedes usar ambos.

doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="")
	body
		h1 PlatziGames
		a.boton Registro



//- Para poner atributos a las etiquetas usamos ()
//- a.boton, el boton es la clase boton